body{
    background-color:rgb(255, 255, 255);
	display:flex;
	border:2px solid #000000;
}
#style{
	color:white;
	margin-left:500pt;
}
.split {
  width: 30%;
  position: initial;
  padding:20px;

}
.left {
  background-color:#7975f3;
}
.right {
  padding-left:60px;
  width:70%;
}
#image{
	border-radius:50%;
	width:240px;
	height:250px;
}
.heading{
	color:white;
	padding-left:50px;
}
.heading1{
	color:#000000;
}
#para_size{
	font-size:15px; 
	letter-spacing:1px;
}
#para1_size{
	font-size:18px; 
	word-spacing:5px;
	letter-spacing:1px;
	line-height:22px;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #000000;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
}